<!DOCTYPE html>

<html lang="en"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>ACME</title>

    <link rel="stylesheet" href="./index.css">

    <script src="/vue.min.js"></script>
    <script src="./index.js"></script>
</head>

<body>
    <h1>ACME Bowling</h1>
    <main>
        <p>{{ greeting }}</p>
        <form v-on:submit="sayHello" v-on:input="validateForm">
            <input v-model="name"/>
            <button v-bind:disabled="disabled">Say Hello</button>
        </form>
    </main>
    <script>
        const vm = new Vue( {
            el: "main",
            data: { greeting: "", name: "", disabled: true },
            methods: {
                sayHello: function ( e ) {
                    e.preventDefault()

                    fetch( `http://localhost:8081/greeting/${ this.name }` )
                        .then( response => response.json() )
                        .then( result => this.greeting = result.text )
                },
                validateForm: function ( e ) {
                    this.disabled = !index.validateName( this.name )
                }
            },
            created: function () {
                fetch( `http://localhost:8081/greeting` )
                    .then( response => response.json() )
                    .then( result => this.greeting = result.text )
            }
        } )

    </script>
</body>

</html>

